.server_conf_response{
  color:#4d524e;
  font-size:16px;
}
.server_create_script_response{
  color:#4d524e;
  font-size:16px;
}
.create_script_link{
  color: #31b5e0;
}
.get_zombies_response{
  color: #ec3030;
  font-size:18px;
}
.get_zombies_response p{
  color: limegreen;
  font-size:18px;
}
.show_server_status{
  color: black;
  font-size: 13px;
}
.command_input{
  color: black!important;
}
.server_protocol{
  color: black;
}
.terminal_get_default_target{
  color: #363535;
  font-size: 15px;
}

/* terminal */
@import url("https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic");

.terminal {
  font-size: 1.4em;
  line-height: 1.2em;
  width: 76vw;
  height: 400px;
  margin-top: 25px;
  background-color: #0f3642;
  color: #b4c4c6;
  padding: 0 0 0 10px;
  border-radius: 0 0 7px 7px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 30px 1px rgba(0, 0, 0, 0.2);
}
.terminal-body {
  overflow-y: scroll;
  height: 400px;
  margin: 0;
  width: 100%;
}
.terminal::before {
  border-radius: 7px 7px 0 0;
  position: absolute;
  content: attr(data-content);
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  padding: 0 80px;
  white-space: nowrap;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #4c3436;
  font-size: 1em;
  background: linear-gradient(0deg, #d8d8d8, #ececec);
  top: -25px;
  left: 0;
  font-family: "PT Sans", sans-serif;
}
.terminal::after {
  content: "";
  position: absolute;
  top: -18px;
  left: 10px;
  width: 12px;
  height: 12px;
  background: #f95c5b;
  border-radius: 100%;
  box-shadow: 0 0 0 1px #da3d42, 22px 0 0 0 #fabe3b, 22px 0 0 1px #ecb03e, 44px 0 0 0 #38cd46, 44px 0 0 1px #2eae32;
}
.terminal p {
  word-break: break-all;
  margin: 0;
}
.terminal p::before {
  color: #5ed7ff;
  content: "~$ ";
}
/* terminal */
